@import url(https://pro.fontawesome.com/releases/v5.11.2/css/all.css);
:root {
  --user-button-circle: rgba(0,0,0,0.025);
  --user-button-cardborder: rgba(255,255,255,0.25);
  --user-button-text:#323133;
  --user-button-shadow:rgba(0,0,0,0.1);
}



.project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* height: 100vh; */
  font-family: "Roboto", sans-serif;
  transition: 0.25s;
}

.project .options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  max-width: 900px;
  width: calc(100% - 100px);
  height: 450px;
}

.project .options .option {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 10px;
  background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.project .options .option:nth-child(1) {
  --defaultBackground:#ED5565;
}
.project .options .option:nth-child(2) {
  --defaultBackground:#FC6E51;
}
.project .options .option:nth-child(3) {
  --defaultBackground:#FFCE54;
}
.project .options .option:nth-child(4) {
  --defaultBackground:#2ECC71;
}
.project .options .option:nth-child(5) {
  --defaultBackground:#5D9CEC;
}
.project .options .option:nth-child(6) {
  --defaultBackground:#AC92EC;
}
.project .options .option.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 0px;
  border-radius: 40px;
  background-size: auto 100%;

}
.project .options .option.active .shadow {
  box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}
.project .options .option.active .label {
  bottom: 20px;
  left: 20px;
  /* text-wrap: wrap; */
}
.project .options .option.active .label .info > div {
  left: 0px;
  opacity: 1;
}
.project .options .option:not(.active) {
  flex-grow: 1;
  border-radius: 30px;
}
.project .options .option:not(.active) .shadow {
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}
.project .options .option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}
.project .options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}
.project .options .option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.project .options .option .label {
  display: flex;
  position: absolute;
  right: 0px;
  /* height: 40px; */
  max-height: 80px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.project .options .option .label .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  bottom: 20px;
  color: var(--defaultBackground);
}
.project .options .option .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  /* white-space: pre; */
}
.project .options .option .label .info > div {
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
.project .options .option .label .info .main {
  font-weight: bold;
  font-size: 1.2rem;
}
.project .options .option .label .info .sub {
  transition-delay: 0.1s;
}

.project a{
  color: white;
  text-decoration: none;
}
.project a:hover{
  color: rgb(255, 136, 136);
  text-decoration: none;
}


@media screen and (max-width: 750px) {

  .project .options {
    width: 100vw;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   overflow:scroll;
   max-height:auto ;
   height: auto;
   
  }
  .project .options .option {
    background-size: auto 100%;
    border-radius: 40px;
    flex-grow: 10000;
    width:80vw;
    height: 80vh;
    margin-bottom: 40px;
  }
  .project .options .option.active {
    margin-bottom: 40px;

  }
  .project .options .option:not(.active) {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    border-radius: 40px;
    background-size: auto 100%;
  }
  .project .options .option:not(.active) .shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  .project .options .option:not(.active) .label {
    display: flex;
    position: absolute;
    right: 0px;
    max-height: 80px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  .project .options .option:not(.active) .label .info > div {
    left: 0px;
    opacity: 1;
  }
}
